<!doctype html>

<html>

	<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

	    <style>
	    	html,body,#map_canvas
	       	{
				height: 100%;

				margin: 0px;

				padding: 0px
	      	}
	    </style>

		<title>Document</title>

		<%= stylesheet_link_tag "application"%>

		<%= csrf_meta_tags %>
<!--		


		<link rel="stylesheet" href="assets/css/lungo.css">

		<link rel="stylesheet" href="components/css/lungo.icon.css">

		<link rel="stylesheet" href="components/css/lungo.theme.css">
-->
	</head>


	<body>

		<section id="main_section">

		    <header data-title="MetroTimes">

		        <nav>
		        
		            <a href="#" data-view-aside="features" data-icon="menu"></a>
		        
	<!--
		            <button data-view-aside="features" data-icon="menu"></button>-->
		        </nav>
		    
		        <nav class="on-right">
		            <a href="#" data-view-menu="options-icons" data-icon="grid"></a>
		        </nav>
	<!--
		    	<nav class="on-left">
		            <button data-view-article="article_1" data-label="Home"></button>
		        </nav>
		        <nav class="on-right">
		            <button data-view-section="second" data-label="Section"></button>
		        </nav>
	-->

		    </header>

		    <article id="map_canvas" class="active">

		        <!--<button class="button" data-view-aside="features" data-icon="forward">To article_2</button>-->
		    </article>


		    <footer>
		        <nav>
		        <a href="#" data-view-article="home-menu" data-icon="menu">Home</a>
		        <a href="#" data-view-article="explore-menu" data-icon="globe">Explore</a>
		        <a href="#" data-view-article="profile-menu" data-icon="user">Profile</a>            
		        </nav>
		    </footer>    

		</section>

		<aside id="features">
		    <header data-title="Options"></header>
		    <article class="active">
		        Hola
		    </article>
		</aside>


		<section id="second">

		    <header data-back="home">
		        <button data-view-section="back" data-icon="right" data-label="Back"></button>		    	

		    </header>

			<article id="linesdata" class="active">
				

			</article>

		    <footer>
		        <nav>
		        <a href="#" data-view-article="home-menu" data-icon="menu">Home</a>
		        <a href="#" data-view-article="explore-menu" data-icon="globe">Explore</a>
		        <a href="#" data-view-article="profile-menu" data-icon="user">Profile</a>            
		        </nav>
		    </footer>  

		</section>


    	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"> </script>
	<%= javascript_include_tag "application"%>


<!--
		<script src="assets/quo.debug.js"></script>

		<script src="assets/lungo.debug.js"></script>

		<script src="assets/initLungo.js"></script>		

    	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"> </script>

    	<script src="assets/requestResponse.js" type = "text/javascript"> </script>

    	<script src="assets/userPositionManager.js" type = "text/javascript"> </script>

    	<script src="assets/init.js" type = "text/javascript"> </script>
-->
	</body>

</html>