<!doctype html>

<html>

	<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

	    <style>
	    	html,body,#map_canvas
	       	{
				height: 100%;

				margin: 0px;

				padding: 0px
	      	}
	    </style>

		<title>Document</title>

		<%= stylesheet_link_tag "application"%>

		<%= csrf_meta_tags %>

	</head>


	<body>

		<section id="main_section" data-marker-user= <%= image_url "User.png" %> data-marker-station= <%= image_url "Station.png" %>>

		    <header data-title="MetroTimes">

		        <nav>
		        
		            <a href="#" data-view-aside="features" data-icon="menu"></a>
  
		        </nav>
		    
		        <nav class="on-right">

		            <a href="#" data-view-menu="options-icons" data-icon="grid"></a>

		        </nav>

		    </header>


		    <article id="map_canvas" class="active">

		    </article>


			<footer>

				<nav>

					<a href="#" data-view-article="home-menu" data-icon="menu">Home</a>

					<a href="#" data-view-article="explore-menu" data-icon="globe">Explore</a>

					<a href="#" data-view-article="profile-menu" data-icon="user">Profile</a> 

				</nav>

			</footer>

		</section>


		<aside id="features">

		    <header data-title="Options"></header>

		    <article class="active">

				<a href="#" title="About" class = "asd_features_art_link" onclick="aboutMessage.show();return false;">About</a>		        

		    </article>

		</aside>


		<section id="second">

		    <header data-back="home">

		        <button data-view-section="back" data-icon="right" data-label="Back"></button>		    	

		    </header>

			<article id="linesdata" class="active list indented scroll linesdata_styles">
				

			</article>

			<footer>

				<nav>

					<a href="#" data-view-article="home-menu" data-icon="menu">Home</a>

					<a href="#" data-view-article="explore-menu" data-icon="globe">Explore</a>

					<a href="#" data-view-article="profile-menu" data-icon="user">Profile</a> 

				</nav>

			</footer>

		</section>


    	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"> </script>

		<%= javascript_include_tag "application"%>


	</body>

</html>
